@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    padding: 0%;

    margin: 0%;

    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;

    text-decoration: none;

    list-style-type: none;
}

.body-f{
    background: linear-gradient(225deg, rgba(76,79,79,1) 0%, rgba(20,36,36,0.9920343137254902) 49%, rgba(29,41,60,1) 75%, rgba(0,0,0,1) 100%);
}


.greeting{
    font-size: 18px;

    color: #fff;

    font-weight: 800;

    letter-spacing: 1px;

    margin-bottom: 10px;
}

.myName{
    
    font-size: 80px;

    line-height: 1;

    color: #fff;

    margin: 0 0 45px;

    font-family: 'Cute Font', cursive;
}

.about{
    font-size: 14px;

    color: #fff;

    font-weight: 800;

    letter-spacing: 1px;

    line-height: 1.9;
}

.stacks li{

    display: inline;

    padding: 20px;

    border: 5px;
}

.stacks img{

    width: 35px;

    height: 35px;

    margin-top: 15px;

    margin-left: 50px;
}

.repo-info{
    font-family: 'Poppins', sans-serif;

    font-size: 14px;
}

.lang{
    font-family: 'Poppins', sans-serif;
}

.list-data{
    font-family: 'Poppins', sans-serif;

    text-decoration: none;

    color: gray;

    text-transform: uppercase;

    font-size: 16px;
}

.list-data:hover
{
    color: #3bc27f;
}

.list-data a
{
    text-decoration: none;

    color: gray;
}

.read{
    text-decoration: none;
}

.subtitle{
    font-size: 30px;

    line-height: 1;

    color: #fff;

    margin: 0 0 25px;

    font-family: 'Cute Font', cursive;

    text-align: center;
}

.contact-form{
    font-family: 'Poppins', sans-serif;

    font-size: 14px;

    color: #fff;
}

